<section id="agenda" class="feature">
    <div class="row">
        <h2>Agenda</h2>
    </div>

    <div class="timings">
        <% @item[:agenda].each do |agenda| %>
          <div class="row">
            <div class="small-4 columns time"><p><%= agenda[:time] %> pm</p></div>
            <div class="small-8 columns summary <%= "with-image" if agenda[:image] %>"><p>
                <%= agenda[:name] %> <br />
                <% if agenda[:speaker] %>
                    <small>by
                    <% if agenda[:profile] %>
                    <a href="<%= agenda[:profile] %>" rel="nofollow" target="_blank"><%= agenda[:speaker] %></a>
                    <% else %>
                        <%= agenda[:speaker] %>
                    <% end %>
                    </small>
                <% end %>
                <% if agenda[:image] %>
                    <img src="img/speaker/<%= agenda[:image] %>" alt="<%= agenda[:speaker] %>" />
                <% end %>
            </p></div>
          </div>
        <% end %>
      </div>
    </div>
</section>
