<section id="agenda" class="feature">
    <div class="row">
        <h2>Agenda</h2>
    </div>

    <div class="timings">
        <% @item[:agenda].each do |agenda| %>
          <div class="row">
            <div class="large-4 columns time"><p><%= agenda[:time] %> pm</p></div>
            <div class="large-8 columns summary">
                <p><%= agenda[:title] %></p>
                <% if agenda[:subtitle] %>
                    <p><small><%= agenda[:subtitle] %></small></p>
                <% end %>
                <% if agenda[:image] %>
                    <p><img src="img/speaker/<%= agenda[:image] %>" alt="<%= agenda[:speaker] %>" /></p>
                <% end %>
                <% if agenda[:speaker] %>
                    <p><small>By:
                    <% if agenda[:profile] %>
                    <a href="<%= agenda[:profile] %>" rel="nofollow" target="_blank"><%= agenda[:speaker] %></a>
                    <% else %>
                        <%= agenda[:speaker] %>
                    <% end %>
                    </small></p>
                <% end %>
                <% if agenda[:resources] %>
                    <p><small>Resources:
                    <% agenda[:resources].each_with_index do |resource, i| %>
                        <a href="<%= resource[:url] %>" rel="nofollow" target="_blank"><%= resource[:title] %></a>
                        <%= ' &bull; ' if i != agenda[:resources].length - 1 %>
                    <% end %>
                    </small></p>
                <% end %>
            </p></div>
          </div>
        <% end %>
      </div>
    </div>
</section>
