<% render '_layout', title: start_date.strftime("%b %Y") do %>
    <section id="intro" class="feature">
        <div class="row">
            <div class="large-12 columns">
                <a href="http://www.thoughtworks.com" target="_blank">
                    <img src="./img/tw-logo.png" alt="ThoughtWorks" align="center" />
                </a>
                <h1>Geek Night Chennai</h1>
                <h5>an open forum for geeks to connect, discuss &amp; learn latest ideas, technologies and trends in software development</h5>
            </div>
        </div>

        <div class="row countdown">
            <div class="small-8 small-offset-2 large-4 large-offset-0 columns date">
                <p><%= @item[:edition] %><sup><%= @item[:edition].ordinal %></sup> edition</p>
                <h4><%= start_date.strftime("%b %-d").downcase %></h4>
            </div>
            <div class="small-6 large-2 columns counter">
                <h4><span id="days"></span></h4>
                <p>days</p>
            </div>
            <div class="small-6 large-2 columns counter">
                <h4><span id="hours"></span></h4>
                <p>hours</p>
            </div>
            <div class="small-6 large-2 columns counter">
                <h4><span id="minutes"></span></h4>
                <p>minutes</p>
            </div>
            <div class="small-6 large-2 columns counter">
                <h4 id="seconds">
                    &nbsp; <!-- the nbsp is required -->
                    <span id="tick"></span><span id="tock"></span>
                </h4>
                <p>seconds</p>
            </div>
        </div>

        <div class="row actions">
            <div class="large-5 columns">
                <h4><a href="<%= @item[:participate] %>" id="participate" target="_blank" rel="nofollow">Participate</a></h4>
                <p>to learn exciting new stuff</p>
            </div>
            <div class="large-2 columns">
                <hr class="show-for-small" />
                <h6 class="hide-for-small delimiter">&laquo; or &raquo;</h6>
            </div>
            <div class="large-5 columns">
                <h4><a href="<%= @item[:talk] %>" target="_blank" rel="nofollow">Talk</a></h4>
                <p>to share exciting new stuff</p>
            </div>
        </div>
    </section>

    <%= render '_about_section' %>

    <%= render '_agenda_section' %>

    <%= render '_location_section' %>

    <%= render '_archive_section' %>

    <%= render '_header_section' %>

    <%= render '_footer_section' %>

    <script>window.targetDate = new Date(<%= start_date.to_i %> * 1000)</script>
    <script src="js/ticker.js"></script>

    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <script src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="js/map.js"></script>
<% end %>
