<section id="agenda" class="agenda">
    <div class="agenda-heading">
        <span class="agenda-heading-text">Agenda</span>
    </div>        
    <div class="content">
      <div class="speakers">
        <% @item[:agenda] && @item[:agenda].each_with_index do |agenda, i| %>
          <div class="speaker-details">
            <span class="time">
                <%= agenda[:time] %> <%= "pm" unless agenda[:time].ends_with?('m') %>
            </span>
            <div class="speaker-detail">
              <% if agenda[:speakers] %>
                <% if agenda[:video_link] %>
                  <span class="title"><a href="<%= agenda[:video_link] %>" target="_blank"><%= agenda[:title] %></a></span>
                <% else %>
                  <span class="title"><%= agenda[:title] %></span>
                <% end%>

                <% if agenda[:subtitle] %>
                    <span class="subtitle"><%= agenda[:subtitle] %></span>
                <% end %>

                <span class="by">By</span>
                <% agenda[:speakers].each_with_index do |speaker, i| %>
                    <span class="name">
                      <% if speaker[:profile] %>
                          <a href="<%= speaker[:profile] %>" rel="nofollow" target="_blank"><%= speaker[:name] %></a>
                      <% else %>
                          <%= speaker[:name] %>
                      <% end %>
                      <% if speaker[:image] %>
                        <img class="img" src="img/speaker/<%= speaker[:image] %>" alt="<%= speaker[:name] %>" />
                      <% end %>
                      <% if speaker[:description] %>                      
                        <%= speaker[:description] %>
                      <% end %>
                    </span>
                <% end %>
              <% else %>
                <% if agenda[:video_link] %>
                  <span class="title-default"><a href="<%= agenda[:video_link] %>" target="_blank"><%= agenda[:title] %></a></span>
                <% else %>
                  <span class="title-default"><%= agenda[:title] %></span>
                <% end%>

                <% if agenda[:subtitle] %>
                    <span class="subtitle"><%= agenda[:subtitle] %></span>
                <% end %>
              <% end %>

              <% if agenda[:resources] %>
                  <p><small>Resources:
                  <% agenda[:resources].each_with_index do |resource, i| %>
                      <a href="<%= resource[:url] %>" rel="nofollow" target="_blank"><%= resource[:title] %></a>
                      <%= ' &bull; ' if i != agenda[:resources].length - 1 %>
                  <% end %>
                  </small></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</section>
