<section id="agenda" class="feature">
    <div class="row" data-bottom="transform:translateY(-10em)" data--100-bottom="transform:translateY(0em)">
        <h2>Agenda</h2>
    </div>

    <div class="timings">
        <% @item[:agenda] && @item[:agenda].each_with_index do |agenda, i| %>
          <div class="row">
            <div class="large-4 columns time" id="agenda-<%= i %>"
                 data-bottom="transform:rotateX(90deg) scale(0);opacity:0"
                 data--200-bottom="transform:rotateX(0) scale(1);opacity:1">
                <p>
                    <%= agenda[:time] %> <%= "pm" unless agenda[:time].ends_with?('m') %>
                </p>
            </div>
            <div class="large-8 columns summary" data-anchor-target="#agenda-<%= i %>"
                 data-bottom="transform:rotateX(90deg) scale(0);opacity:0"
                 data--200-bottom="transform:rotateX(0) scale(1);opacity:1">
                <p><%= agenda[:title] %></p>
                <% if agenda[:subtitle] %>
                    <p><small><%= agenda[:subtitle] %></small></p>
                <% end %>
                <% if agenda[:image] %>
                    <p><img src="img/speaker/<%= agenda[:image] %>" alt="<%= agenda[:speaker] %>" /></p>
                <% end %>
                <% if agenda[:speaker] %>
                    <p><small>By:
                    <% if agenda[:profile] %>
                    <a href="<%= agenda[:profile] %>" rel="nofollow" target="_blank"><%= agenda[:speaker] %></a>
                    <% else %>
                        <%= agenda[:speaker] %>
                    <% end %>
                    </small></p>
                <% end %>
                <% if agenda[:resources] %>
                    <p><small>Resources:
                    <% agenda[:resources].each_with_index do |resource, i| %>
                        <a href="<%= resource[:url] %>" rel="nofollow" target="_blank"><%= resource[:title] %></a>
                        <%= ' &bull; ' if i != agenda[:resources].length - 1 %>
                    <% end %>
                    </small></p>
                <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</section>
