<section id="intro" class="intro">
    <div class="banner">
        <div class="banner-overlay">
            <div class="intro-info">
                <div class="intro-info-place">
                    <div class="intro-info-place-title">CHENNAI</div>
                </div>
                <div class="intro-info-edition"><%= @item[:edition] %><sup><%= @item[:edition].ordinal %></sup> Edition</p></div>
                <div class="intro-info-date">
                    <%= start_date.strftime("%b").upcase %><%= start_date.strftime(" %-d") %><sup><%= start_date.strftime("%-d").to_i.ordinal %></sup><%= start_date.strftime(", %Y") %>
                </div>
                <% if @item[:subheader] %>
                    <h5 class="subheader"><%= @item[:subheader] %></h5>
                <% end %>
                <div class="intro-info-buttons">
                    <div class="intro-info-buttons-button">
                        <% if item[:participate] %>
                            <a href="<%= @item[:participate] %>" target="_blank" rel="nofollow"
                           onclick="ga('send', 'event', 'participate', 'participate')">
                            <div class="intro-info-buttons-button-text">PARTICIPATE</div>
                            </a>
                            <div class="intro-info-buttons-button-sub-text">
                                to learn exciting new stuff <br/>
                            </div>
                        <% else %>
                            <div class="intro-info-buttons-button-text"><strike>PARTICIPATE</strike></div>
                            <% if start_date.future? %>
                                <div class="intro-info-buttons-button-sub-text">Registrations not yet open</div>
                            <% else %>
                                <div class="intro-info-buttons-button-sub-text">Sorry! registrations closed</div>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="intro-info-buttons-button">                        
                        <% if item[:talk] %>
                            <a href="<%= @item[:talk] %>" target="_blank" rel="nofollow"
                               onclick="ga('send', 'event', 'talk', 'talk')">
                                <div class="intro-info-buttons-button-text">PRESENT</div>
                            </a>
                            <div class="intro-info-buttons-button-sub-text">
                                Share exciting stuff <br/>
                            </div>
                        <% else %>
                            <div class="intro-info-buttons-button-text"><strike>PRESENT</strike></div>
                            <div class="intro-info-buttons-button-sub-text">
                                Presentations not yet open <br/>
                            </div>
                        <% end %>
                    </div>
                </div>
                <% if @item[:subnote] %>
                    <div class="intro-info-subnote"><%= @item[:subnote] %></div>
                <% end %>
            </div>
        </div>
    </div>
</section>