<!DOCTYPE html>
  <head>
    <title>Geek Night Chennai - <%= title %></title>
    <script type="text/javascript" src=<%= baseURL + "js/vendor/jquery-3.3.1.min.js" %>></script>
    <script type="text/javascript" src=<%= baseURL + "js/app.js" %>></script>
    
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href=<%= baseURL + "css/app.css" %> />
  </head>
  <body>
    <%= yield %>
  </body>
</html>